/*COMPONENTS*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.body {
  width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
/* HEADER*/

.web {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-link {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header {
  margin-top: 24px;
  width: 1200px;
  margin-bottom: 25px;
  display: flex;
  text-align: center;
  align-items: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.nav {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.connection-list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.connection-item:not(:last-child) {
  margin-right: 50px;
}

.connection {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
/*END HEADER*/
/*Main*/
/*HEADING1*/

.hero {
  margin: 0 auto;
  width: 1600px;
}

.heading {
  background-color: #2f303a;
  width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
}

.aspects {
  display: flex;
  text-align: center;
  align-items: center;
}

.heading-title {
  padding-top: 200px;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  max-height: 120px;
}
/*END HEADING1*/
/*ASPECTS*/

.aspect-item {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: -30px;
}

.aspect-list {
  width: 1200px;
  margin: 0 auto;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.aspect-list:not(:last-child) {
  margin-right: 30px;
}

.aspects {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}

.aspect-item .aspects {
  display: flex;
  align-items: center;
}

.aspect-heading {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.aspect {
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*END ASPECT*/
/*HEADING2*/

.occupation {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.heading-2 {
  margin-bottom: 94px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

.img-work {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.img {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.nav:hover,
.nav:focus {
  color: #2196f3;
}

.connection:hover,
.connection:focus {
  color: #2196f3;
}

.button {
  max-height: 50px;
  max-width: 250px;
  margin-right: 400px;
  margin-left: 700px;
  margin-top: 30px;
  margin-bottom: 210px;
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
}
/*END HEADING2*/
/*OURTEAM*/

.our-team {
  background-color: #f5f4fa;
  width: 1600px;
  margin: 0 auto;
}

.heading-3 {
  padding-top: 94px;
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-cards {
  padding-bottom: 94px;
  width: 1200px;
  margin: 0 auto;
}

.img-team {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.name-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.name {
  text-align: center;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 59px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 1875;
  letter-spacing: 0.03em;
  color: #212121;
}

.work {
  text-align: center;
  padding-top: 10px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 0, 84;
  letter-spacing: 0.03em;
  color: #757575;
}

.frontend {
  padding-top: 10px;
  padding-left: 62px;
  padding-right: 61px;
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 0, 84;
  letter-spacing: 0.03em;
  color: #757575;
}

.name-work {
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.field-of-activity {
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer-list {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: left;
}

.connection-link {
  margin-bottom: 9px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: auto;
}

.div-logo {
  width: 1200px;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.connection-link-list {
  padding-top: 9px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.connection-link-list-1 {
  padding-top: 9px;
  padding-bottom: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  background-color: #2f303a;
}

.button-1 {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #000000;
  border: 1px solid #fff;
  padding: 6px 22px;
}

.button-1:hover,
.button-1:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.button-list {
  width: 1600px;
}

.button-item {
  width: 1200px;
  display: flex;
}

.button-li:not(:last-child) {
  margin-right: 8px;
}
.button-li {
  margin: 0 auto;
}

.cards {
  width: 1600px;
  margin: 0 auto;
}

.cards-development {
  width: 1200px;
  margin: 0 auto;
}

.development {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}

.img-cards {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cards-name {
  text-align: left;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
